img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1 {
    text-align: center;
}

ol, 
li {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}