img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ol, 
li {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}